@model WebShope.Domain.Models.UserLoginViewModel

<div class="div-center">

    <form method="post" asp-controller="User">
        <p>
            <label>Логин</label><br />
            <input asp-for="Login" />
            <span asp-validation-for="Login" />
        </p>
        <p>
            <label>Пароль</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </p>
        <p>
            <div asp-validation-summary="ModelOnly"></div>
        </p>
        <p>
            <input type="submit" value="Войти" />
            <a asp-controller="User" asp-action="Register">Регистрацию</a>
        </p>

    </form>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>