<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/lib/Style/Styles.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
</head>

<body>
    <header>
        <div class="header-line">
            @{ await Html.RenderPartialAsync("Header/HeaderPartial");}

            <div class="nav">
                    <a href="#">Вход</a>
                    <label>/</label>
                    <a href="#">Регистрация</a>
            </div>
           
        </div>
    </header>
    <div> @RenderBody()</div>
    <footer></footer>


</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

