@model WebShope.Domain.Models.UserProfileViewModel

@{
	Layout = "_AccountLayout";
	
}


<div class="profile-page">
	@{
		await Html.RenderPartialAsync("ProfileMenu/ProfileMenuPartial");
	}
	<script src="~/Scripts/ProfileMenuScripts.js"></script>
	<link href="~/lib/Style/Loader.css" rel="stylesheet" />
	

	<div id="menu-content">
		@RenderBody()
	</div>
</div>




